body{
  max-width:85%;
  margin: auto;
  padding-bottom: 60px;
  position: relative;
  background-color: #e7eaf6;
}

.name{
  font-size: 80px;
  padding: 20px 40px;
  margin: 0;
  background-color: #113f67;
  text-align: center;
  color: white;
  text-shadow: 5px 5px 5px #000000;
}

.menu{
  background-color: #38598b;
  height: 50px;
}

.menu ul{
  margin-top: 0;
  padding: 15px;
}

.menu li{
  display: inline;
  padding: 0 20px;
  text-shadow: 2px 2px 5px #000;
}
.menu a{
  text-decoration: none;
  color: white;
}

.arcticle{
  border: solid 1px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.posts{
  min-height: 720px;
  padding: 10px 0 10px 20px;
  margin-left: 210px;
}

.posts img{
  float: right;
}

.posts footer{
  clear: right;
  padding-top: 20px;
  margin-bottom: 10px
}
.comments{
  float: right;
  border: solid 1px;
  padding: 3px;
  border-radius: 3px;
  width: 110px;
  text-align: center;

}

.postContent{
  margin-right: 180px;
  padding-right: 10px;
  text-align: justify;
}


#logout {
  float: right;
}

.profArea{
  width: 200px;
  height: 800px;
  position: relative;
  background-color: #a2a8d3;
  padding: 20px 10px 0;
  float: left;
}

.profArea li{
  padding-top: 2px;
  display: block;
}

.profArea a{
  text-decoration: none;
}

.contacts{
  position: absolute;
  bottom: 20px;
}

.footer{
  text-align: center;
  background-color:#38598b;
  position:absolute;
  bottom: 0;
  height: 60px;
  width:100%;
  color: lightgray;
}
